
<article id="peak" class="peak">
    <header>
        <h2><%= @peak.name %> (<%= @peak.height %> ft.)</h2>
        <h3><%= @peak.range %></h3>
    </header>
    <p>
        <%= truncate(@peak.description, length: 150, separator: ' ') %>
    </p>
    <table>
        <thead class="rounded-lg text-left text-sm font-normal">
            <tr>
                <th scope="col" class="px-4 py-5 font-bold sm:pl-6">
                    Difficulty
                </th>
                <th scope="col" class="px-4 py-5 font-bold sm:pl-6">
                    Round Trip Miles
                </th>
                <th scope="col" class="px-4 py-5 font-bold sm:pl-6">
                    Round Trip Duration
                </th>
            </tr>
        </thead>
        <tbody class="bg-white">
            <tr key=<%= @peak.id %> class="w-full border-b py-3 text-sm last-of-type:border-none [&:first-child>td:first-child]:rounded-tl-lg [&:first-child>td:last-child]:rounded-tr-lg [&:last-child>td:first-child]:rounded-bl-lg [&:last-child>td:last-child]:rounded-br-lg" >
                <td class="whitespace-nowrap text-center px-3 py-3"> 
                    <%= @peak.difficulty %>
                </td>
                <td class="whitespace-nowrap text-center px-3 py-3">
                    <%= @peak.roundtrip_duration %>
                </td>
                <td class="whitespace-nowrap text-center px-3 py-3">
                    <%= @peak.roundtrip_miles %>
                </td>
            </tr>
        </tbody>
    </table>
    <footer>
    </footer>
</article>
