<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Rc" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <div className="flex h-screen flex-col md:flex-row md:overflow-hidden">
          <div className="w-full flex-none md:w-64">
            <div className="flex h-full flex-col px-3 py-4 md:px-2">
              <a
                class="mb-2 flex h-20 items-end justify-start rounded-md bg-blue-600 p-4 md:h-40"
                href="https://github.com/rockcairn/nextjs-ts"
              >
                <div className="w-32 text-white md:w-40">
                  RockcairnLogo
                </div>
              </a>
              <div className="flex grow flex-row justify-between space-x-2 md:flex-col md:space-x-0 md:space-y-2">
                <a
                      href="/"
                      class='flex h-[48px] grow items-center justify-center gap-2 rounded-md bg-gray-50 p-3 text-sm font-medium hover:bg-sky-100 hover:text-blue-600 md:flex-none md:justify-start md:p-2 md:px-3'
                    >
                      <p className="hidden md:block">Home</p>
                </a>
                <a
                      href="/peaks/index"
                      class='flex h-[48px] grow items-center justify-center gap-2 rounded-md bg-gray-50 p-3 text-sm font-medium hover:bg-sky-100 hover:text-blue-600 md:flex-none md:justify-start md:p-2 md:px-3'
                    >
                      <p className="hidden md:block">Peaks</p>
                </a>
                <a
                      href="/map/index"
                      class='flex h-[48px] grow items-center justify-center gap-2 rounded-md bg-gray-50 p-3 text-sm font-medium hover:bg-sky-100 hover:text-blue-600 md:flex-none md:justify-start md:p-2 md:px-3'
                    >
                      <p className="hidden md:block">Map</p>
                </a>
                <a
                      href="/about/index"
                      class='flex h-[48px] grow items-center justify-center gap-2 rounded-md bg-gray-50 p-3 text-sm font-medium hover:bg-sky-100 hover:text-blue-600 md:flex-none md:justify-start md:p-2 md:px-3'
                    >
                      <p className="hidden md:block">About</p>
                </a>
                <div className="hidden h-auto w-full grow rounded-md bg-gray-50 md:block"></div>
              </div>
            </div>
          </div>
          <div className="flex-grow p-6 md:overflow-y-auto md:p-12">
            <%= yield %>
          </div>
    </div>
  </body>
</html>
